* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.calculator {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
}

.output {
  width: 234px;
  display: flex;
  justify-content: flex-end;
  font-size: 32px;
  padding: 1rem 0.3rem;
  background-color: #aab8a391;
  color: #fff;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.1rem;
  background: linear-gradient(45deg, #d74545, #9e0cdf);
}

.zero {
  grid-column: span 2;
}

.btn {
  padding: 1rem;
  border: none;
  font-size: 20px;
  background: #30c163;
}

.number {
  background-color: #d0b0e3;
}

.expressions {
  background-color: #f5913e;
}

.D-quotes {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

p.R-Quotes {
  font-size: 23px;
  color: hsla(180, 51.4%, 51.6%, 1);
  font-family: sans-serif;
}

nav {
  background-color: #e5e5e5;
  padding: 16px 32px;
}

nav a {
  margin-right: 16px;
}

/* complete page  stylees */

ul.list-item {
  display: flex;
  text-decoration: none;
  list-style-type: none;
  align-items: center;
  margin-left: auto;
}

nav.nav-bar {
  display: flex;
  gap: 5%;
}

.h-container {
  padding: 5%;
}

h1.h-h1 {
  /* padding: 3%; */
  padding-bottom: 3%;
}

.calculator-container {
  display: flex;
  justify-content: space-around;
  padding-top: 5%;
}

p.h-para {
  font-size: 32px;
  font-weight: 900;
}
