* {
  padding: 0;
  margin: 0;
}

.calculator {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
}

.output {
  width: 234px;
  display: flex;
  justify-content: flex-end;
  font-size: 32px;
  padding: 1rem 0.3rem;
  background-color: #858693;
  color: #fff;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.1rem;
}

.zero {
  grid-column: span 2;
}

.btn {
  padding: 1rem;
  border: none;
  font-size: 20px;
}

.number {
  background-color: #e0e0e0;
}

.expressions {
  background-color: #f5913e;
}
